@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

.Category_List {
    color: #ABA9A9;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.489%;
    text-transform: uppercase;
}